
.back {
    border-radius: 1.5px;
    border: 0.5px solid #dddddd;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #7c7c7c;
  }
