sudo: required

language: generic

services:
  - docker

script:
  - docker build -t factlist/factlist-ui .

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
      docker push factlist/factlist-ui;
    fi
