.rlist {
   margin-bottom: 20px;
}

.rlist ul {
  list-style: none;
  padding: 0px;
  margin: 10px 0px;
}
.rlist ul li {
  padding: 3px 0px;
  font-size: 14px;
}

.rlist :global(.ais-RefinementList-checkbox) {
  margin-right: 5px;
}
.rlist :global(.ais-RefinementList-labelText) {
  font-size: 13px;
  opacity: 0.9;
}
.rlist :global(.ais-RefinementList-count) {
  opacity: 0.4;
  font-size: 11px;
}

.rlist :global(.ais-SearchBox) button {
  display: none;
}
.rlist :global(.ais-SearchBox) input {
  border: 1px solid #41414141;
  padding: 4px 8px;
  font-size: 12px;
  margin: 10px 0px 0px 0px;
  border-radius: 3px;
  width: 100%;
}
