.card {
  background-color: #FFF;
  border: 1px solid #E0E0E0;
  text-align: center;
  padding: 20px;
}

.card > img {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.02);
  border-radius: 150px;
  width: 60px;
  height: 60px;
}

.name {
  font-size: 13px;
  color: rgba(0,0,0,0.85);
  letter-spacing: 0;
  font-weight: 700;
  display: block;
  margin-top: 13px;
}

.username {
  display: block;
  font-size: 12px;
  margin-top: 2px;
}
