

.default{
    display: none;
  }

.mini {
    display: block;
}

@media screen and (min-width: 600px){
    .default{
        display: block;
      }
    
    .mini {
        display: none;
    } 
  }
  