.slack {
  background-color: white;
  padding: 25px 20px;
  border: 1px solid #e0e0e0;
}

.slack img {
  width: 45px;
  height: 45px;
}

.slack a {
  font: 500 16px Roboto, sans-serif;
  color: black;
  width: 120px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
