.root {
  font-size: 13px;
  margin-bottom: 20px;
}
.title {
  opacity: 0.5;
}
.root ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
.root li {
  padding: 3px 0;
}
.root input {
  margin-right: 5px;
}
