.header {
  background-color: white;
  padding: 15px 0;
  margin-bottom: 40px;
}

.header:before {
  content: "";
  background: #dddddd;
  height: 0.5px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 75px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
}

.logo {
  min-width: 55px;
}



.searchBox input {
  width: 100%;
  max-width: 670px;
  display: block;
  margin: auto;
  font: normal 14px Roboto, sans-serif;
  background: url(/images/icons/search.png) 97% 50% no-repeat;
  border: 1px solid #ddd;
  padding: 10px 18px;
  outline: none;
}
.searchBox input::placeholder {
  color: #b2b2b2;
}
.searchBox input::focus {
  border: 1px solid #b2b2b2;
}

.searchBox :global(.ais-SearchBox-submit),
.searchBox :global(.ais-SearchBox-reset) {
  display: none;
}

.searchBox{
  margin: 0 10px;
}

.saving {
  opacity: 0.5;
  font: normal 14px Roboto, sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

@media screen and (max-width: 835px) {
  .searchBox {
    flex: 4 1 835px;
  }
}