.field {
  width: 100%;
}

.field input,
.field textarea {
  width: 100%;
  background: white;
  outline: 0;
  color: #14171A;
  line-height: 36px;
  font-size: 14px;
  padding: 0 10px;
  margin-top: 3px;
  border: 1px solid #ddd;
}
.field textarea {
  min-height: 80px;
}
.field input:focus,
.field textarea:focus {
  border: 1px solid #b2b2b2;
}
.field input.error,
.field textarea.error {
  border-color: #ff6947;
}
.field input.error:focus,
.field textarea.error:focus {
  border: inherit;
}

.field label {
  font-size: 14px;
  color: black;
}
.field p {
  font-size: 12px;
  color: #ff6947;
  line-height: 18px;
  margin: 0;
  margin-top: 3px;
}
