@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:root {
  --bg-pri: black;
  --border-pri: 1px solid black;
  --color-pri: white;

  --bg-aux: white;
  --border-aux: 1px solid #e0e0e0;
  --color-aux: black;
}
