.container {
  background-color: white;
  padding: 75px 55px 45px 55px;
}

.title {
  font-size: 24px;
  font-weight: normal;
  color: rgba(0,0,0,0.90);
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

.description {
  font-weight: 400;
  font-size: 17px;
  color: rgba(0,0,0,0.5);
  letter-spacing: 0;
  text-align: center;
  margin: 0;
  margin-top: 5px;
}

.separator {
  display: block;
  margin: 20px 0 10px 0;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,0.45);
  text-align: center;
}
